header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a, button {
    height: 40px;
    width: 80px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0.25rem;
    border: 0;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}
